@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  /* font-family: 'Hind', sans-serif; */
font-family: 'Montserrat', sans-serif;

}

#root{
  overflow-x: hidden;
  min-height: 100vh;
  background-color: black
}

.cursor{
  animation: Typewriter-cursor .8s infinite;
}

@keyframes Typewriter-cursor {
  0%{
    opacity: 0
  }
  50%{
    opacity: 1
  }
  100%{
    opacity: 0
  }
}
