@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hind';
  src: url('/Hind-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
}
*{
  box-sizing: border-box;
  /* font-family: 'Hind', sans-serif; */
font-family: 'Montserrat', sans-serif;

}

#root{
  overflow-x: hidden;
  min-height: 100vh;
  background-color: black;
}


